
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle; ">
        <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
        <div ng-show="showProgress">
            <span style="font-size: small; font-weight: bold; ">
                ({{ processProgress.current }}/{{ processProgress.max }} - {{ processProgress.progress }})
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-sm-offset-0" style="text-align: left; ">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
            <span ng-bind-html="alert.msg | unsafe"></span>
        </alert>
    </div>
</div>

<div class="row" style="font-size: small; ">
    <tabset style="text-align: left;">

        <tab heading="Filtro" active="activeTab.tab1">

            <div class="row" style="margin-top: 15px; ">
                <div class="col-sm-6">
                    <div class="row">
                        <form role="form" novalidate>
                            <div class="container-fluid">

                                <div class="row">
                                    <!-- numeroFactura -->
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <div class="form-group">
                                            <label class="control-label input-label">Nombre: </label>
                                            <input type="text"
                                                   class="form-control input-sm myinput-sm"
                                                   ng-model="filtro.nombreProveedor" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row" style="text-align: left; ">
                        <div class="col-sm-8 col-sm-offset-2">
                            <fieldset class="scheduler-border" style="text-align: left; ">
                                <legend class="scheduler-border">Mostrar solo: </legend>
                                <label style="font-size: small; font-weight: normal; "><input type="checkbox" ng-model="filtro.companiasSinDatosAsociados"> Compañías sin datos asociados</label><br>
                            </fieldset>
                            <br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <hr class="blueLine" />

                <a href="#" ng-click="limpiarFiltro()" class="btn btn-default btn-sm pull-left" style="min-width: 100px; margin-left: 30px; ">
                    Limpiar filtro
                </a>

                <a href="#" ng-click="aplicarFiltro()" class="btn btn-primary btn-sm pull-right" style="min-width: 80px; margin-left: 20px; ">
                    Aplicar filtro
                </a>

                <a href="#" ng-click="nuevo()" class="btn btn-default btn-sm pull-right" style="min-width: 80px; margin-right: 20px; ">
                    Nuevo
                </a>
            </div>
        </tab>

        <tab heading="Lista" active="activeTab.tab2">
            <div class="row" style="text-align: center; ">
                <div class="col-sm-12 col-sm-offset-0">

                    <nav class="navbar navbar-default navbar_custom_small_toolBar" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a class="navbar_custom_small_header">&nbsp;&nbsp;&nbsp;</a></li>
                                    <li><a href="#" class="navbar_custom_small_node_withBackground" ng-click="grabarEliminaciones()">Grabar <span class="fa fa-save"></span></a></li>
                                    <li class="divider-vertical-small"></li>
                                    <li><a href="#" class="navbar_custom_small_node_withBackground" ng-click="exportarExcel()" >Exportar&nbsp;&nbsp;<span class="fa fa-file-excel-o"></span></a></li>
                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#" ng-click="leerMasRegistros()" class="navbar_custom_small_node_withBackground">Más ...</a></li>
                                    <li><a href="#" ng-click="leerTodosLosRegistros()" class="navbar_custom_small_node_withBackground">Todo</a></li>
                                </ul>

                            </div>
                        </div>
                    </nav>

                    <div ui-grid="proveedores_ui_grid"
                         ui-grid-resize-columns
                         ui-grid-selection
                         ui-grid-pinning
                         class="angularGrid"
                         style="height: 250px; width: 100%; ">
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-sm-12 col-sm-offset-0" style="text-align: right; ">
                    <button class="btn btn-default btn-sm" style="min-width: 80px; " ng-click="nuevo()">
                        Nuevo
                    </button>
                </div>
            </div>
        </tab>
        <tab heading="Detalles" active="activeTab.tab3">

            <br />
            <div class="row row-centered">
                <div class="col-sm-9 col-centered">
                    <nav class="navbar navbar-inverse navbar_custom_small_fullWidth" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li ng-if="proveedor.docState"><a href="#" class="navbar_custom_small_header"><em>Proveedores y clientes</em> (<span class="fa fa-asterisk"></span>)</a></li>
                                    <li ng-if="!proveedor.docState"><a href="#" class="navbar_custom_small_header"><em>Proveedores y clientes</em></a></li>

                                    <li><a href="#" ng-click="grabar()" class="navbar_custom_small_node">Grabar&nbsp;&nbsp;<span class="fa fa-floppy-o"></span></a></li>
                                    <li><a href="#" ng-click="refresh0()" class="navbar_custom_small_node">Refresh&nbsp;&nbsp;<span class="fa fa-refresh"></span></a></li>
                                    <li class="divider-vertical-small"></li>
                                    <li><a href="#" ng-click="nuevo()" class="navbar_custom_small_node">Nuevo&nbsp;&nbsp;<span class="fa fa-file-o"></span></a></li>
                                    <li><a href="#" ng-click="eliminar()" class="navbar_custom_small_node">Eliminar&nbsp;&nbsp;<span class="fa fa-times"></span></a></li>
                                    <li class="divider-vertical-small"></li>
                                    <li><a href="#" ng-click="mostrarPersonas()" class="navbar_custom_small_node">Personas&nbsp;&nbsp;<span class="fa fa-users"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <form
                  role="form"
                  name="proveedoresForm"
                  novalidate
                  style="margin-top: 15px; text-align: left; font-size: small; ">

                <div class="row row-centered">
                  <div class="col-sm-9 col-centered">
                      <span style="color: #004776; font-size: medium; ">Datos generales: </span>
                      <hr style="margin-top: 0; " class="blueLine">
                  </div>
                </div>

                <div class="row row-centered">
                    <!-- número -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Número</label><br />
                            <span  style="color: #337AB7; font-weight: bold; ">
                                {{ proveedor.proveedor }}
                            </span>
                        </div>
                    </div>
                    <!-- nombre -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.nombre"
                                   ng-change="setIsEdited()"
                                   ng-required="true"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                    <!-- proveedorClienteFlag -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Tipo </label>
                            <select class="form-control input-sm myinput-sm"
                                    ng-model="proveedor.proveedorClienteFlag"
                                    ng-options="item.tipo as item.descripcion for item in proveedorClienteArray | orderBy:'descripcion'"
                                    ng-change="setIsEdited()"
                                    ng-model-options="{ updateOn: 'blur' }">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row row-centered">
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Tipo</label>
                            <select class="form-control input-sm myinput-sm"
                                    ng-model="proveedor.tipo"
                                    ng-options="item.tipo as item.descripcion for item in tiposProveedor | orderBy:'descripcion'"
                                    ng-change="setIsEdited()"
                                    ng-model-options="{ updateOn: 'blur' }">
                            </select>
                        </div>
                    </div>
                    <!-- rif -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Rif</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.rif"
                                   ng-change="setIsEdited()"
                                   ng-required="true"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                    <!-- nit -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Nit</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.nit"
                                   ng-change="setIsEdited()"
                                   ng-required="true"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                </div>

                <div class="row row-centered">
                    <!-- nacionalExtranjeroFlag -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Nacionalidad</label>
                            <select class="form-control input-sm myinput-sm"
                                    ng-model="proveedor.nacionalExtranjeroFlag"
                                    ng-options="item.tipo as item.descripcion for item in nacionalidadArray | orderBy:'descripcion'"
                                    ng-change="setIsEdited()"
                                    ng-model-options="{ updateOn: 'blur' }">
                            </select>
                        </div>
                    </div>
                    <!-- natJurFlag -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Natural / Jurídico</label>
                            <select class="form-control input-sm myinput-sm"
                                    ng-model="proveedor.natJurFlag"
                                    ng-options="item.tipo as item.descripcion for item in naturalJuridicoArray | orderBy:'descripcion'"
                                    ng-change="setIsEdited()"
                                    ng-model-options="{ updateOn: 'blur' }">
                            </select>
                        </div>
                    </div>
                    <!-- afectaLibroComprasFlag -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>
                                <input type="checkbox"
                                       ng-model="proveedor.afectaLibroComprasFlag"
                                       ng-change="setIsEdited()">
                                Afecta libro de compras
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row row-centered">
                    <!-- abreviatura -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Abreviatura</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.abreviatura"
                                   ng-change="setIsEdited()"
                                   ng-required="true"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                    <!-- contribuyenteFlag -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>
                                <input type="checkbox"
                                       ng-model="proveedor.contribuyenteFlag"
                                       ng-change="setIsEdited()">
                                Contribuyente
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-3 col-centered">
                    </div>
                </div>

                <div class="row row-centered">
                  <div class="col-sm-9 col-centered">
                      <span style="color: #004776; font-size: medium; ">Retención islr: </span>
                      <hr style="margin-top: 0; " class="blueLine">
                  </div>
                </div>

                <div class="row row-centered">
                    <!-- sujetoARetencionFlag -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>
                                <input type="checkbox"
                                       ng-model="proveedor.sujetoARetencionFlag"
                                       ng-change="setIsEdited()">
                                Sujeto a retención
                            </label>
                        </div>
                    </div>
                    <!-- categoriaProveedor -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Categoría</label>
                            <select class="form-control input-sm myinput-sm"
                                    ng-model="proveedor.categoriaProveedor"
                                    ng-options="item.categoria as item.descripcion for item in categoriasRetencion | orderBy:'descripcion'"
                                    ng-change="setIsEdited()"
                                    ng-model-options="{ updateOn: 'blur' }">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row row-centered">
                  <div class="col-sm-9 col-centered">
                      <span style="color: #004776; font-size: medium; ">Información general de impuestos: </span>
                      <hr style="margin-top: 0; " class="blueLine">
                  </div>
                </div>

                <div class="row row-centered">
                    <!-- aplicaIvaFlag -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>
                                <input type="checkbox"
                                       ng-model="proveedor.aplicaIvaFlag"
                                       ng-change="setIsEdited()">
                                Calcula y aplica Iva en las facturas
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-3 col-centered">
                    </div>

                    <div class="col-sm-3 col-centered">
                    </div>
                </div>

                <div class="row row-centered">
                    <!-- contribuyenteEspecialFlag -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>
                                <input type="checkbox"
                                       ng-model="proveedor.contribuyenteEspecialFlag"
                                       ng-change="setIsEdited()">
                                Contribuyente especial
                            </label>
                        </div>
                    </div>
                    <!-- retencionSobreIvaPorc -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Retención (%)</label>
                            <input type="number"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.retencionSobreIvaPorc"
                                   ng-change="setIsEdited()"
                                   style="max-width: 90px; "
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>

                    <div class="col-sm-3 col-centered">
                        <label>Cliente (nos retiene Iva en nuestras facturas)</label>
                    </div>
                </div>

                <div class="row row-centered">
                    <div class="col-sm-3 col-centered">
                    </div>
                    <!-- nuestraRetencionSobreIvaPorc -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Retención (%)</label>
                            <input type="number"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.nuestraRetencionSobreIvaPorc"
                                   ng-change="setIsEdited()"
                                   style="max-width: 90px; "
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>

                    <div class="col-sm-3 col-centered">
                        <label>Proveedor (retenemos Iva en sus facturas)</label>
                    </div>
                </div>

                <div class="row row-centered">
                  <div class="col-sm-9 col-centered">
                      <span style="color: #004776; font-size: medium; ">Valores por defecto para facturas y movimientos bancarios: </span>
                      <hr style="margin-top: 0; " class="blueLine">
                  </div>
                </div>

                <div class="row row-centered">
                    <!-- formaDePagoDefault -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Forma de pago</label>
                            <select class="form-control input-sm myinput-sm"
                                    ng-model="proveedor.formaDePagoDefault"
                                    ng-options="item.formaDePago as item.descripcion for item in formasPago | orderBy:'descripcion'"
                                    ng-change="setIsEdited()"
                                    ng-model-options="{ updateOn: 'blur' }">
                            </select>
                        </div>
                    </div>
                    <!-- monedaDefault -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Moneda</label>
                            <select class="form-control input-sm myinput-sm"
                                    ng-model="proveedor.monedaDefault"
                                    ng-options="item.moneda as item.descripcion for item in monedas | orderBy:'descripcion'"
                                    ng-change="setIsEdited()"
                                    ng-model-options="{ updateOn: 'blur' }">
                            </select>
                        </div>
                    </div>
                    <!-- beneficiario -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Beneficiario</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.beneficiario"
                                   ng-change="setIsEdited()"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                </div>

                <div class="row row-centered">
                    <!-- concepto -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Concepto</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.concepto"
                                   ng-change="setIsEdited()"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                    <!-- montoCheque -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Monto para cheque</label>
                            <input type="number"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.montoCheque"
                                   ng-change="setIsEdited()"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                    <!-- montoChequeEnMonExtFlag -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>
                                <input type="checkbox"
                                       ng-model="proveedor.montoChequeEnMonExtFlag"
                                       ng-change="setIsEdited()">
                                Aplicar cambio del día al monto
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row row-centered">
                  <div class="col-sm-9 col-centered">
                      <span style="color: #004776; font-size: medium; ">Información de ubicación y contacto: </span>
                      <hr style="margin-top: 0; " class="blueLine">
                  </div>
                </div>

                <div class="row row-centered">
                    <!-- direccion -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Dirección</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.direccion"
                                   ng-change="setIsEdited()"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                    <!-- ciudad -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Ciudad</label>
                            <select class="form-control input-sm myinput-sm"
                                    ng-model="proveedor.ciudad"
                                    ng-options="item.ciudad as item.descripcion for item in ciudades | orderBy:'descripcion'"
                                    ng-change="setIsEdited()"
                                    ng-model-options="{ updateOn: 'blur' }">
                            </select>
                        </div>
                    </div>
                    <!-- contacto1 -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Contacto (1)</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.contacto1"
                                   ng-change="setIsEdited()"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                </div>

                <div class="row row-centered">
                    <!-- telefono1 -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Teléfono (1)</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.telefono1"
                                   ng-change="setIsEdited()"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                    <!-- telefono2 -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Teléfono (2)</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.telefono2"
                                   ng-change="setIsEdited()"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                    <!-- contacto2 -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Contacto (2)</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.contacto2"
                                   ng-change="setIsEdited()"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>
                </div>

                <div class="row row-centered">
                    <!-- fax -->
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Fax</label>
                            <input type="text"
                                   class="form-control input-sm myinput-sm"
                                   ng-model="proveedor.fax"
                                   ng-change="setIsEdited()"
                                   ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>

                    <div class="col-sm-3 col-centered">
                    </div>

                    <div class="col-sm-3 col-centered">
                    </div>
                </div>

                <div class="row row-centered">
                    <div class="col-sm-10 col-centered" style="background-color: #F2F2F2; border: 1px solid darkgray; font-size: x-small; ">
                        <!-- ingreso, ult actualización y usuario  -->
                        <div class="col-sm-3 col-centered" style="text-align: center; ">
                            <label style="font-size: x-small; ">Ingreso </label>
                            <br />
                            <span>{{ proveedor.ingreso | date:'dd-MM-yyyy hh:mm a'}} </span>
                        </div>
                        <div class="col-sm-3 col-centered" style="text-align: center; ">
                            <label style="font-size: x-small; ">Ult act </label>
                            <br />
                            <span>{{ proveedor.ultAct | date:'dd-MM-yyyy hh:mm a'}} </span>
                        </div>
                        <div class="col-sm-3 col-centered" style="text-align: center; ">
                            <label style="font-size: x-small; ">Usuario </label>
                            <br />
                            <span>{{ proveedor.usuario }} </span>
                        </div>
                        <div class="col-sm-3 col-centered" style="text-align: center; ">
                            <label style="font-size: x-small; ">Lote </label>
                            <br />
                            <span>{{ proveedor.lote ? proveedor.lote : '(sin número de lote)' }} </span>
                        </div>
                    </div>
                </div>

        </form>

        </tab>
    </tabset>
</div>
