


<div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="text-align: right; font-style: italic; ">
        <span style="color: dodgerblue">{{ companiaSeleccionada.nombre }}</span>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle; ">
        <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="text-align: left; ">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
            <span ng-bind-html="alert.msg | unsafe"></span>
        </alert>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <br />
        <div class="row row-centered">
            <div class="col-sm-9 col-centered">
                <nav class="navbar navbar-inverse navbar_custom_small_fullWidth" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li ng-if="cajaChica_parametros.docState"><a href="#" class="navbar_custom_small_header"><em>Caja chica - Parámetros</em> (<span class="fa fa-asterisk"></span>)</a></li>
                                <li ng-if="!cajaChica_parametros.docState"><a href="#" class="navbar_custom_small_header"><em>Caja chica - Parámetros</em></a></li>

                                <li><a href="#" ng-click="grabar()" class="navbar_custom_small_node">Grabar&nbsp;&nbsp;<span class="fa fa-floppy-o"></span></a></li>
                                <li><a href="#" ng-click="refresh0()" class="navbar_custom_small_node">Refresh&nbsp;&nbsp;<span class="fa fa-refresh"></span></a></li>
                                <li class="divider-vertical-small" ng-if="origen == 'edicion'"></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row row-centered">
            <form role="form"
                name="cajaChicaParametrosForm"
                novalidate
                style="margin-top: 15px; text-align: left; font-size: small; ">

                <div class="row row-centered">
                    <div class="col-sm-3 col-centered">
                        <div class="form-group">
                            <label>Tipo de asiento (defecto) </label>
                            <select class="form-control input-sm myinput-sm"
                                    ng-model="cajaChica_parametros.tipoAsiento"
                                    ng-options="item.tipo as item.descripcion for item in tiposAsientoContable | orderBy:'descripcion'"
                                    ng-change="setIsEdited()"
                                    ng-model-options="{ updateOn: 'blur' }">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1 col-centered"></div>
                    <div class="col-sm-5 col-centered">
                        <div class="form-group">
                            <label>Cuenta contable 'puente' de caja chica</label>
                            <select class="form-control input-sm myinput-sm"
                                    ng-model="cajaChica_parametros.cuentaContablePuenteID"
                                    ng-options="item.id as item.cuentaDescripcionCia for item in cuentasContablesLista"
                                    ng-change="setIsEdited()"
                                    ng-model-options="{ updateOn: 'blur' }">
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>