
<div class="row">
    <div class="col-sm-12">
        <h4 style="margin: 0 0 0 30; color: #3183B9; text-align: left; ">Nómina - Parámetros - Definición de cuentas contables</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 col-sm-offset-1" style="text-align: left; ">
        <a data-toggle="collapse"
           href="#collapseFiltro"
           id="collapseLink">
           Filtro ... <span class="fa fa-filter"></span>
        </a>
    </div>
    <div class="col-sm-2 col-sm-offset-1" style="text-align: left; ">
    </div>
    <div class="col-sm-6 col-sm-offset-0" style="text-align: left; ">
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle; ">
        <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
        <div ng-show="showProgress">
            <span style="font-size: small; font-weight: bold; ">
                ({{ processProgress.current }}/{{ processProgress.max }} - {{ processProgress.progress }})
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-sm-offset-0" style="text-align: left; ">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            <span ng-bind-html="alert.msg | unsafe"></span>
        </alert>
    </div>
</div>

<div class="collapse" id="collapseFiltro">
  <div class="well">

      <div class="row">
          <form role="form" novalidate style="margin-top: 15px; ">

              <div class="container-fluid">

                  <div class="row" style="text-align: left; ">

                      <!-- rubro - abreviatura -->
                      <div class="col-sm-2 col-sm-offset-0">
                          <label class="myinput-xsm">Rubro: </label>
                          <input type="text"
                                 style="width: 100%; "
                                 class="myinput-xsm"
                                 ng-model="filtro.rubroAbreviatura"
                                 ng-model-options="{ updateOn: 'blur' }" />
                      </div>

                      <!-- Nombre -->
                      <div class="col-sm-2 col-sm-offset-0">
                          <label class="myinput-xsm">Empleado: </label>
                          <input type="text"
                                 style="width: 100%; "
                                 class="myinput-xsm"
                                 ng-model="filtro.nombreEmpleado"
                                 ng-model-options="{ updateOn: 'blur' }" />
                      </div>

                      <!-- Departamento -->
                      <div class="col-sm-2 col-sm-offset-0">
                          <label class="myinput-xsm">Departamento: </label>
                          <input type="text"
                                 style="width: 100%; "
                                 class="myinput-xsm"
                                 ng-model="filtro.nombreDepartamento"
                                 ng-model-options="{ updateOn: 'blur' }" />
                      </div>

                      <!-- CuentaContable -->
                      <div class="col-sm-2 col-sm-offset-0">
                          <label class="myinput-xsm">Cuenta contable (cuenta): </label>
                          <input type="text"
                                 style="width: 100%; "
                                 class="myinput-xsm"
                                 ng-model="filtro.cuentaContable"
                                 ng-model-options="{ updateOn: 'blur' }" />
                      </div>

                      <!-- CuentaContableDescripcion -->
                      <div class="col-sm-2 col-sm-offset-0">
                          <label class="myinput-xsm">Cuenta contable (descripción): </label>
                          <input type="text"
                                 style="width: 100%; "
                                 class="myinput-xsm"
                                 ng-model="filtro.cuentaContableDescripcion"
                                 ng-model-options="{ updateOn: 'blur' }" />
                      </div>

                      <!-- sumarizar  -->
                      <div class="col-sm-2 col-sm-offset-0">
                          <label class="myinput-xsm">Sumarizar: </label><br />
                          <input type="checkbox"
                                 class="myinput-xsm"
                                 ng-model="filtro.sumarizar" />
                      </div>

                  </div>

              </div>
          </form>
      </div>

      <div class="row">
          <hr class="blueLine" />

          <a href="#" ng-click="limpiarFiltro()" class="btn btn-link btn-sm pull-left" style="min-width: 100px; margin-left: 30px; ">
              Limpiar filtro <span class="fa fa-eraser"></span>
          </a>

          <a href="#" ng-click="aplicarFiltro()" class="btn btn-link btn-sm pull-right" style="min-width: 80px; margin-right: 30px; ">
              Aplicar filtro <span class="fa fa-arrow-down"></span>
          </a>
      </div>
  </div>
</div>

<div class="row" style="text-align: center; ">
    <div class="col-sm-12 col-sm-offset-0">

        <nav class="navbar navbar-default navbar_custom_small_toolBar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="navbar_custom_small_header">Nómina - Cuentas contables</a></li>
                        <li><a href="#" class="navbar_custom_small_node_withBackground" ng-click="nuevo()">Nuevo <span class="fa fa-file-o"></span></a></li>
                        <li><a href="#" class="navbar_custom_small_node_withBackground" ng-click="save()">Grabar <span class="fa fa-save"></span></a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" ng-click="leerMasRegistros()" class="navbar_custom_small_node_withBackground">Más ...</a></li>
                        <li><a href="#" ng-click="leerTodosLosRegistros()" class="navbar_custom_small_node_withBackground">Todo</a></li>
                        <!-- <li class="divider-vertical-small"></li>
                        <li><a href="#" ng-click="regresar()" class="navbar_custom_small_node_withBackground">Regresar ...</a></li> -->
                    </ul>

                </div>
            </div>
        </nav>


        <div ui-grid="cuentasContables_ui_grid"
             ui-grid-edit
             ui-grid-cellnav
             ui-grid-resize-columns
             ui-grid-selection
             class="angularGrid"
             style="height: 250px; width: 100%; ">
        </div>
    </div>
</div>
