
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle; ">
        <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
        <div ng-show="showProgress">
            <div ng-show="processProgress.current != null" style="font-size: small; font-weight: bold; ">
                ({{ processProgress.current }}/{{ processProgress.max }} - {{ processProgress.progress }})
            </div>
            <div ng-show="processProgress.message" style="font-size: x-small; font-weight: bold; ">
                ({{ processProgress.message }})
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="text-align: left; ">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            <span ng-bind-html="alert.msg | unsafe"></span>
        </alert>
    </div>
</div>

<tabset style="text-align: left; ">
    <tab heading="General">
        <div class="row">
            <form role="form" novalidate style="margin-top: 15px; ">

                <div class="container-fluid">

                    <div class="row">
                        <!-- Nombre -->
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="form-group">
                                <label class="myinput-sm">Nombre: </label>
                                <input type="text"
                                       class="form-control input-sm myinput-sm"
                                       ng-model="filtro.nombreEmpleado"
                                       ng-model-options="{ updateOn: 'blur' }" />
                            </div>
                        </div>
                        <!-- fecha -->
                        <div class="col-sm-6">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    <label class="control-label input-label">F salida: </label>
                                    <input type="date"
                                           class="form-control input-sm myinput-sm"
                                           ng-model="filtro.fechaSalida1" />
                                </div>
                            </div>
                            <div class="col-sm-4 col-sm-offset-0">
                                <div class="form-group">
                                    <label class="control-label input-label">&nbsp;</label>
                                    <input type="date"
                                           class="form-control input-sm myinput-sm"
                                           ng-model="filtro.fechaSalida2" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--  -->
                        <div class="col-sm-4 col-sm-offset-1">
                        </div>
                        <!-- fecha -->
                        <div class="col-sm-6">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    <label class="control-label input-label">F regreso: </label>
                                    <input type="date"
                                           class="form-control input-sm myinput-sm"
                                           ng-model="filtro.fechaRegreso1" />
                                </div>
                            </div>
                            <div class="col-sm-4 col-sm-offset-0">
                                <div class="form-group">
                                    <label class="control-label input-label">&nbsp;</label>
                                    <input type="date"
                                           class="form-control input-sm myinput-sm"
                                           ng-model="filtro.fechaRegreso2" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--  -->
                        <div class="col-sm-4 col-sm-offset-1">
                        </div>
                        <!-- fecha -->
                        <div class="col-sm-6">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    <label class="control-label input-label">F reintegro: </label>
                                    <input type="date"
                                           class="form-control input-sm myinput-sm"
                                           ng-model="filtro.fechaReintegro1" />
                                </div>
                            </div>
                            <div class="col-sm-4 col-sm-offset-0">
                                <div class="form-group">
                                    <label class="control-label input-label">&nbsp;</label>
                                    <input type="date"
                                           class="form-control input-sm myinput-sm"
                                           ng-model="filtro.fechaReintegro2" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--  -->
                        <div class="col-sm-4 col-sm-offset-1">
                        </div>
                        <!-- fecha -->
                        <div class="col-sm-6">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    <label class="control-label input-label">F nómina: </label>
                                    <input type="date"
                                           class="form-control input-sm myinput-sm"
                                           ng-model="filtro.fechaNomina1" />
                                </div>
                            </div>
                            <div class="col-sm-4 col-sm-offset-0">
                                <div class="form-group">
                                    <label class="control-label input-label">&nbsp;</label>
                                    <input type="date"
                                           class="form-control input-sm myinput-sm"
                                           ng-model="filtro.fechaNomina2" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </tab>

    <tab heading="Listas">

        <br />

        <div class="row">
            <div class="col-sm-6 col-sm-offset-0">
                <div class="form-group form-group-sm">
                    <!-- tipos de asiento -->
                    <div class="col-sm-7 col-sm-offset-2">
                        <label class="control-label input-label pull-left" for="cargos">Empleados: </label>
                        <select class="form-control input-sm myinput-sm"
                                name="empleados"
                                id="empleados"
                                ng-model="filtro.empleados"
                                ng-options="item.empleado as item.nombre for item in empleados | orderBy:'nombre'"
                                ng-model-options="{ updateOn: 'blur' }"
                                size="8"
                                multiple="multiple"></select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-sm-offset-0">
                <div class="form-group form-group-sm">
                    <!-- monedas -->
                    <div class="col-sm-5 col-sm-offset-2">
                    </div>

                    <!-- monedas original -->
                    <!-- proviene de -->
                    <div class="col-sm-5 col-sm-offset-0">
                    </div>
                </div>
            </div>
        </div>

        <br />
    </tab>
</tabset>


<div class="row">
    <hr class="blueLine" />

    <a href="#" ng-click="limpiarFiltro()" class="btn btn-default btn-sm pull-left" style="min-width: 100px; margin-left: 30px; ">
        Limpiar filtro
    </a>

    <a href="#" ng-click="aplicarFiltroYAbrirLista()" class="btn btn-primary btn-sm pull-right" style="min-width: 80px; margin-left: 20px; ">
        Aplicar filtro
    </a>

    <a href="#" ng-click="nuevo()" class="btn btn-default btn-sm pull-right" style="min-width: 80px; margin-right: 20px; " ng-if="origen == 'edicion'">
        Nuevo
    </a>
</div>
