

<div class="row">
    <div class="col-sm-12 col-sm-offset-0">
        <div class="col-sm-4 col-sm-offset-4" style="text-align: center; vertical-align: middle; ">
            <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-sm-offset-0" style="text-align: left; ">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            <span ng-bind-html="alert.msg | unsafe"></span>
        </alert>
    </div>
</div>


<div class="row" style="text-align: center; ">
    <div class="col-sm-12 col-sm-offset-0">

        <nav class="navbar navbar-default navbar_custom_small_fullWidth" role="navigation">
            <div class="container-fluid navbar-nopaddingleft">
                <div class="collapse navbar-collapse navbar-nopaddingleft">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="navbar_custom_small_header">Vacaciones seleccionadas </a></li>
                        <li><a href="#" ng-click="imprimir()" class="navbar_custom_small_node">Imprimir&nbsp;&nbsp;<span class="fa fa-print"></span></a></li>
                        <li><a href="#" ng-click="exportar()" class="navbar_custom_small_node">Exportar&nbsp;&nbsp;<span class="fa fa-file-excel-o"></span></a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" ng-click="regresar()" class="navbar_custom_small_node_withBackground">Regresar ...</a></li>
                        <!-- <li><a href="#" class="navbar_custom_small_node_withBackground" ng-click="agregarPartida()">Nuevo <span class="fa fa-file-o"></span></a></li> -->
                    </ul>

                </div>
            </div>
        </nav>

        <div ui-grid="vacaciones_ui_grid"
             ui-grid-resize-columns
              ui-grid-selection
             class="angularGrid"
             style="height: 300px; width: 100%; ">
        </div>

    </div>
</div>

<br />

<div class="row" ng-if="origen == 'edicion'">
    <div class="col-sm-12 col-sm-offset-0" style="text-align: right; ">
        <button class="btn btn-default btn-sm" style="min-width: 80px; " ng-click="nuevo()">
            Nuevo
        </button>
    </div>
</div>
