

<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle; ">
        <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
        <div ng-show="showProgress">
            <span style="font-size: small; font-weight: bold; ">
                ({{ processProgress.current }}/{{ processProgress.max }} - {{ processProgress.progress }})
            </span>
        </div>
    </div>
</div>

<div class="row" style="text-align: center; ">
    <div class="col-sm-12 col-sm-offset-0">

        <nav class="navbar navbar-default navbar_custom_small_fullWidth" role="navigation">
            <div class="container-fluid navbar-nopaddingleft">
                <div class="collapse navbar-collapse navbar-nopaddingleft">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="navbar_custom_small_header">Asientos contables seleccionados </a></li>
                        <li ng-if="origen == 'edicion'"><a href="#" class="navbar_custom_small_node_withBackground" ng-click="grabarEliminaciones()" popover="Cick para grabar los registros marcados para ser eliminados." popover-trigger="mouseenter">Grabar <span class="fa fa-save"></span></a></li>
                        <li ng-if="origen == 'edicion'" class="divider-vertical-small"></li>
                        <li><a href="#" ng-click="imprimir()" class="navbar_custom_small_node_withBackground">Imprimir&nbsp;&nbsp;<span class="fa fa-print"></span></a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle navbar_custom_small_node_withBackground" data-toggle="dropdown" role="button" aria-expanded="false">Otros <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="exportarAsientosContables()" class="navbar_custom_small_node_withBackground">Exportar (texto) &nbsp;&nbsp;<span class="fa fa-share"></span></a></li>
                                <li><a href="#" ng-click="importarAsientosContables()" class="navbar_custom_small_node_withBackground">Importar (texto) &nbsp;&nbsp;<span class="fa fa-reply"></span></a></li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="exportarAsientosContables_csv()" class="navbar_custom_small_node_withBackground">Exportar (csv)&nbsp;&nbsp;<span class="fa fa-file-text-o"></span></a></li>
                                <li><a href="#" ng-if="origen=='edicion'" ng-click="corregirMontosMas2Decimales()" class="navbar_custom_small_node_withBackground">Corregir asientos con más de dos decimales&nbsp;&nbsp;<span class="fa fa-gears"></span></a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" ng-click="regresarALista()" class="navbar_custom_small_node_withBackground">Regresar ...</a></li>
                        <!-- <li><a href="#" class="navbar_custom_small_node_withBackground" ng-click="agregarPartida()">Nuevo <span class="fa fa-file-o"></span></a></li> -->
                    </ul>

                </div>
            </div>
        </nav>

        <div ui-grid="asientosContables_ui_grid"
             ui-grid-resize-columns
             ui-grid-selection
             ui-grid-pinning
             class="angularGrid"
             style="height: 300px; width: 100%; ">
        </div>

    </div>
</div>

<br />

<div class="row" ng-if="origen == 'edicion'">
    <div class="col-sm-12 col-sm-offset-0" style="text-align: right; ">
        <button class="btn btn-default btn-sm" style="min-width: 80px; " ng-click="nuevo()">
            Nuevo
        </button>
    </div>
</div>
